.counter {
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 10px;
}
.counter button {
  margin: 5px;
}

.products-list,
.cart-items {
  border: 2px solid lightgray;
  border-radius: 10px;
  width: 70%;
  margin: 20px auto;
  padding: 15px;
}

.wrapper button {
  margin: 0 2px;
}
